<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lovo.j135_2.netctoss.usermag.mapper.BusinessMapper">
	<resultMap type="Business" id="BusinessMap">
		<id property="id" column="id" javaType="java.lang.Long"/>
		<result property="business_name" column="business_name" javaType="java.lang.String"/>
		<result property="password" column="password" javaType="java.lang.String"/>
		
	</resultMap>
</mapper>